<div class="page container-fluid">
  <div class="row page-header">
  </div>
  <div class="row page-body">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h5>餐點清單</h5>
            </div>
            <div class="col-6 text-right pr-0">
              <button type="button" class="btn btn-info" (click)="newProduct()">新增餐點</button>
            </div>
          </div>
        </div>

        <div class="card-body p-0">
          <div class="list-group">
            <button *ngFor="let p of products | async" type="button" class="list-group-item list-group-item-action"
              (click)="showDetail(p)">{{p.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h5>餐點細節</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form #pForm=ngForm>
            <div class="form-group">
              <label for="name">名稱</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="cProduct.name" placeholder="名稱"
                required>
            </div>
            <div class="form-group">
              <label for="description">敘述</label>
              <input type="text" class="form-control" id="description" name="description"
                [(ngModel)]="cProduct.description" placeholder="敘述">
            </div>
            <div class="form-group">
              <label for="price">價錢</label>
              <input type="number" class="form-control" id="price" name="price" [(ngModel)]="cProduct.price"
                placeholder="價錢" required>
            </div>
            <div class="form-group">
              <label for="cost">成本</label>
              <input type="number" class="form-control" id="cost" name="cost" [(ngModel)]="cProduct.cost"
                placeholder="成本" required>
            </div>
            <div class="form-group text-right">
              <button type="button" [disabled]="!pForm.form.valid" class="btn btn-primary"
                (click)="save(pForm.form)">儲存</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>