<ng-container *ngIf="authService.isLoggedIn()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" (click)="ToggleNavBar()">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['order']">點餐</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['consumable']">耗材管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['balance']">結算</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['product']">餐點管理</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">登出</button>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>
</ng-container>

<div *ngIf="!authService.isLoggedIn()" class="signin-form container d-flex align-items-center">
  <div class="row mt-4">
    <div class="col-6 offset-3">
      <form>
        <div class="form-group">
          <label for="price">帳號</label>
          <input type="text" class="form-control" id="account" name="account" [(ngModel)]="account.account">
        </div>
        <div class="form-group">
          <label for="name">密碼</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="account.password">
        </div>
        <div class="form-group text-right">
          <button type="button" class="btn btn-primary" (click)="login()">登入</button>
        </div>
      </form>
    </div>
  </div>
</div>

<block-ui></block-ui>