<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['order']">點餐</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['consumable']">食材／耗材管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['balance']">結算</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['product']">餐點管理</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>