<div class="page container-fluid p-0 m-0">
  <div class="row page-body m-0">
    <div class="col-12 p-0">
      <input type="month" class="form-control" id="cDate" name="cDate" [ngModel]="cDate|date:'yyyy-MM'"
        (input)="onMonthChange($event.target.value)" placeholder="1911/1">
    </div>
    <div class="col-12 p-0">
      <div class="card card-summary bg-success text-white">
        <div class="card-header">
          月結算
        </div>
        <div class="card-body text-dark">
          <div id="month-summary" class="card-text container-fluid">
            <div class="row">
              <div id='month-summary-balance' class="col-12">
              </div>
            </div>
            <div class="row">
              <div id='month-summary-details' class="col-12">
              </div>
            </div>
            <div class="row">
              <div id='month-summary-consumables' class="col-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="card">
        <div class="card-body p-0">
          <div class="d-container">
            <ng-container *ngIf="cOrderMap">
              <div *ngFor="let key of dayList; let isOddDay=odd" class="card card-day text-white"
                [class.bg-warning]="isOddDay" [class.bg-info]="!isOddDay">
                <div class="card-header">
                  {{key.year}}-{{key.month}}-{{key.day}}
                </div>
                <ng-container *ngIf="cOrderMap.get(key.year+'-'+key.month+'-'+key.day); let daySummary">
                  <div class="card-body p-0">
                    <div class="o-container col-12 p-0">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-4 p-0">
                            <div class="card text-dark">
                              <div class="card-body p-0">
                                <div class="card card-o">
                                  <div class="card-header text-center">
                                    銷售列表
                                  </div>
                                  <div class="card-body p-0 overflow-auto">
                                    <ul class="list-group">
                                      <li class="list-group-item d-flex justify-content-between align-items-center"
                                        *ngFor="let itemKey of daySummary.orderDetailsKeys">
                                        {{daySummary.orderDetails.get(itemKey)[0].name}}
                                        <span
                                          class="badge badge-light badge-pill">{{daySummary.orderDetails.get(itemKey).length}}</span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 p-0">
                            <div class="card text-dark">
                              <div class="card-body p-0">
                                <div class="card card-o">
                                  <div class="card-header text-center">
                                    耗材列表
                                  </div>
                                  <div class="card-body p-0 overflow-auto">
                                    <ul class="list-group">
                                      <li class="list-group-item d-flex justify-content-between align-items-center"
                                        *ngFor="let itemKey of daySummary.consumableCostKeys">
                                        {{daySummary.consumableCosts?.get(itemKey)[0].name}}
                                        <span
                                          class="badge badge-light badge-pill">{{daySummary.consumableCosts?.get(itemKey).length}}</span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 p-0">
                            <div class="card text-dark">
                              <div class="card-body p-0">
                                <div class="card card-o">
                                  <div class="card-header text-center">
                                    每日支出
                                  </div>
                                  <div class="card-body p-0 overflow-auto">
                                    <ul class="list-group">
                                      <li class="list-group-item d-flex justify-content-between align-items-center"
                                        *ngFor="let itemKey of daySummary.consumablePerDayKeys">
                                        {{daySummary.consumablePerDays?.get(itemKey)[0].name}}
                                        <span
                                          class="badge badge-light badge-pill">{{daySummary.consumablePerDays?.get(itemKey).length}}</span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    日結算：{{daySummary.dayBalance}}
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>