.card-body {
    overflow-x: scroll;

    .d-container {
        display: block;
        height: 100vh;
        
        .card-day {
            width: 100vw;
            // height: 20rem;

            .o-container {
                display: inline-flex;
                
                .card-o {
                    width: 10rem;
                    height: 20rem;
                }
            }
        }
    }
}

.card-summary {
    .card-body {
        background-color: white;
    }
}