<div class="page container-fluid p-0 m-0">
  <div class="row page-body bg-orange mx-0">
    <div class="col-12">
      <input type="month" class="form-control" id="cDate" name="cDate" [ngModel]="cDate|date:'yyyy-MM'"
        (input)="cDate = $event.target.value" placeholder="1911/1">
    </div>
    <div class="col-12">
      <div class="card card-summary bg-success text-white">
        <div class="card-header">
          總結
        </div>
        <div class="card-body text-success">
          <div class="card-text">123</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0 m-0">
          <div class="d-container">
            <div *ngFor="let key of cOrderMapKey" class="card card-day text-white bg-warning">
              <div class="card-header">
                {{key}}
              </div>
              <div class="card-body p-0">
                <div class="o-container">
                  <div *ngFor="let o of cOrderMap.get(key)" class="card text-dark">
                    <div class="card-body p-0 m-0">
                      <div class="card card-o">
                        <div class="card-header text-center">
                          {{totalPrice(o)}}
                        </div>
                        <div class="card-body p-0 overflow-auto">
                          <ul class="list-group">
                            <li *ngFor="let p of o.products" class="list-group-item">{{p.name}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>