.page-header,
.page-body {
    .col {
        border: 1px solid white;
    }
}

.card-body {
    overflow-x: scroll;
    .p-container {
        display: inline-flex;
        min-height: 5rem;
    }

    .o-container {
        display: inline-flex;
        min-height: 20rem;
        
        .card {
            min-width: 10rem;
            height: 20rem;
        }
    }
}